<div class="container mt-4">
  <h2 class="mb-3">Lista de Usuarios</h2>

  <div *ngIf="cargando">Cargando...</div>

  <table class="table table-striped" *ngIf="!cargando">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usuarios">
        <td>{{ user.nombre }}</td>
        <td>{{ user.email }}</td>
        <td><span class="badge bg-info">{{ user.rol }}</span></td>
      </tr>
    </tbody>
  </table>
</div>
